@import 'src/index.scss';
body{
    background: $bgColor;
    
}
.wrapper{
    height:100vh;
    background: $bgColor;
    position:relative;
    .scroll-down{
        position: absolute;
        top: 90%;
        left:50%;
        transform: translateX(-50%);
        color:#fff;
        z-index: 2;
    }
}
.category{
    width:100%;
    // width:max-content;
    top:25vh;
    left:0;
    background: $bgColor;
    color: $fontColor;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 5rem;
    // z-index:90;
    @media only screen and (max-width: 600px){
        padding:0 3rem;
    }
    .text{
        display: flex;
        flex-direction: column;
        margin-right: 5rem;
        span{
            display:flex;
            h2{
                position: relative;
                z-index: 100;
                font-family: $fontFamily;
                font-size: calc(40px + (70 - 40) * ((100vw - 300px) / (1600 - 300)));

                font-weight: lighter;
                margin-right:1rem;
            }
        }
    }
   
    .cat{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:5rem 0;
        
        .img{
            width:40%;
            position: relative;
            min-width:250px;
            img{
                width: 100%;
            }
            h3{
                position: absolute;
                bottom: -5%;
                right: 5%;
                font-size: 3rem;
                font-weight: lighter;
            }
        }
    }
}