@import 'src/index.scss';


.contact{
    background: black;
    color: white;
    width: 100%;
    min-height:100vh ;
    padding:7rem 3rem;
    h3{
        font-weight: lighter;
    }
    input{
        width: 100%;
        height: 3rem;
        padding: 0.5rem;
        background: white;
        color: black;
        margin: 1rem 0;
    }
    .contact-container{
        display: flex;
        flex-wrap:wrap;
        .contact-box{
            width: 50%;
            min-width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            .map{
                width:80%;
                height:80%;
            }
        }
        form{
            width:50%;
            min-width: 300px;
            .input-box{
                display: flex;
                justify-content:space-between;
                align-items: center;
                margin: 1.5rem 0;
                span{
                    width: 45%;
                }
            }
            button{
                margin:1rem 0;
                padding: 0.5rem 1.5rem;
                background: white;
                color: black;
                cursor:pointer;
                font-family: $fontFamily;
                &:hover{
                    background:rgb(175, 170, 170);
                }
                h3{
                    font-size:1.5rem;
                    font-weight:900;
                }
            }
            .message input{
                width: 100%;
                height: 100px;
            }
        }
    }

    @media only screen and (max-width: 600px){
        padding:7rem 1rem;
        h3{
            font-size:1.5rem;
        }
        .contact input{
            width:90%;
        }
        .input-box{
            justify-content:flex-start;
        }
        .message input{
            width: 80%;
            height: 100px;
        }
        form{
            width: 100%;
        }
        button{
            margin-bottom:0;
        }
    }
}


